# specify any non Python files (not *.py) with the following instruction
# recursive-include dldemo/ *
include dldemo/dldemo.yaml
include dldemo/examples/template/xls-d.html
include dldemo/examples/template/base3.html
include dldemo/examples/template/base4.html
include dldemo/api/templates/ *